.row.justify-content-left.flex-column-reverse.flex-md-row.listing-container
  .col-12.col-md-12
    .border-none.rounded.h-100
      .row.p-2

        = simple_form_for :search_and_filter, url: search_and_filter_listings_path, method: :post do |f|
          %p Search Bar
          = f.input :search_title, label: false, required: false

          %p Filter Menu
          = f.input :filter_category, label: 'Categories', collection: ListingCategory.all, required: false
          
          .row
            .col-6
              = f.input :filter_minprice, label: 'Min Price', as: :text, required: false, input_html: {rows: 1}

            .col-6
              = f.input :filter_maxprice, label: 'Max Price', as: :text, required: false, input_html: {rows: 1}

          = f.input :filter_condition, label: 'Condition', collection: ListingCondition.all, required: false

          = f.input :filter_delivery, label: 'Delivery', as: :check_boxes, collection: Delivery.all, required: false, input_html: { multiple: true, checked: true }

          = f.submit 'Confirm', class: 'btn btn-default', id: 'search-button'
          = link_to 'Clear', listings_path