= simple_form_for @listing, html: {enctype: "multipart/form-data"} do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, hint: 'Use a descriptive title to promote your item'
    = f.input :price, hint: 'Leaving the price empty will set the price as \'Free\''
    %p.mb-0 Add A Photo
    %p.text-small.text-darkgray Using clear photos will help sell your item
    %label.file-input.bg-blue.text-white
      Upload
      %span.input
        = f.file_field :images, multiple: true, direct_upload: true

    #images-preview.row
      - (1..8).each do |i|
        %div.preview.col-4{:id => "preview_#{i}"}
          %div.image-container{:id => "image_#{i}"}

    = f.input :description, hint: '(Max 200 words)'
    = f.association :listing_condition, label: 'Condition'
    = f.association :listing_category, label: 'Category'
    = f.input :listing_deliveries, label: 'Delivery', as: :check_boxes,  collection: Delivery.all, input_html: { multiple: true }
    = f.input :location, hint: 'Describe the general area of Sheffield you are based (E.g. \'Crookesmoor\')'
    %p Swaps
    = f.input :swap, label: 'Open to swaps', class: 'hello'
    = f.input :listing_tags, label: 'Tags', hint: 'Add relevant keywords to ensure your listing appear on search (E.g. Education)', as: :select, collection: [], input_html: { class: 'select2', multiple: true }

  .form-actions
    = f.button :submit, class: 'btn-secondary btn-lg'

-#:javascript
-#  var fileUpload = new FileUploadWithPreview("myUniqueUploadId", {
-#    maxFileCount: 6
-#  });