= simple_form_for @listing, html: {enctype: "multipart/form-data"} do |f|
  = f.error_notification

  .form-inputs.pt-3
    .row
      .col-lg-7.col-sm-12
        = f.input :title, hint: 'Use a descriptive title to promote your item'
      .col-lg-5.col-sm-12
        = f.input :price, label: 'Price (£)', hint: 'Leaving the price empty will set the price as \'Free\'', placeholder: 'Free'
    .row
      .col 
        %label.required.mb-0 Add A Photo
        %p.text-small.text-darkgray Using clear photos will help sell your item
      .col-4
        %label.file-input.btn-secondary.btn-lg.text-center.d-flex.w-100.justify-content-center.align-items-center
          Upload
          .fas.fa-file-upload.ml-2
          %span.input
            = f.file_field :images, multiple: true, direct_upload: true, required: true, hint: 'You must upload at least one image'

    #images-preview.row
      - (1..8).each do |i|
        %div.col-4.preview{:id => "preview_#{i}"}
          %div.image-container{:id => "image_#{i}", :style => "background-image: url(/images/placeholder.png)" }

    = f.input :description, hint: '(Max 200 words)', input_html: { maxlength: 200 }
    = f.association :listing_condition, label: 'Condition', input_html: { class: 'select2-basic'}, include_blank: false, include_hidden: false
    = f.association :listing_category, label: 'Category', input_html: { class: 'select2-basic'}, include_blank: false, include_hidden: false
    = f.input :listing_deliveries, label: 'Delivery', as: :select,  collection: Delivery.all, required: true, input_html: { class: 'select2-multiple', multiple: true }
    = f.input :location, hint: 'Describe the general area of Sheffield you are based (E.g. \'Crookesmoor\')'
    %p Swaps
    = f.input :swap, label: 'Open to swaps'
    = f.input :listing_tags, label: 'Tags', hint: 'Add relevant keywords to ensure your listing appear on search (E.g. Education)', as: :select, collection: @listing.tags.map{|t| [t.name, t.name, {"selected": "selected"}]}, input_html: { class: 'select2-tags', multiple: true }

  .form-actions.row.mt-4
    .col-6.d-flex.justify-content-center.mb-2
      = f.button :submit, class: 'btn-secondary btn-lg text-medium w-75' 
    .col-6.d-flex.justify-content-center.mb-2
      = link_to 'Discard', listings_path, class: 'btn btn-outline-primary btn-lg text-medium w-75'