= simple_form_for(@listing) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, hint: 'Use a descriptive title to promote your item'
    = f.input :price, hint: 'Leaving the price empty will set the price as \'Free\''   
    = f.input :image, as: :file, label: 'Add a photo'
    = f.input :description, hint: '(Max 200 words)'
    = f.association :listing_condition, label: 'Condition'
    = f.association :listing_category, label: 'Category'
    = f.input :listing_delivery, label: 'Delivery', as: :check_boxes,  collection: Delivery.all, input_html: { multiple: true }
    = f.input :location, hint: 'Describe the general area of Sheffield you are based (E.g. \'Crookesmoor\')'
    %p Swaps
    = f.input :swap, label: 'Open to swaps', class: 'hello'
    = f.input :listing_tags, label: 'Tags', hint: 'Add relevant keywords to ensure your listing appear on search (E.g. Education)', as: :select, collection: [], input_html: { class: 'select2', multiple: 'multiple' }

  .form-actions
    = f.button :submit, class: 'btn-secondary btn-lg'
