- @listings.each do |listing|
  - user_favourite = current_user.user_favourites.find_by(listing: listing)
  %tr
    %td= listing.title
    %td= listing.description
    %td= listing.price
    %td= listing.creator_id
    %td= listing.receiver_id
    %td= listing.listing_category.name
    %td= listing.listing_condition.name
    %td= listing.listing_status.name
    %td= link_to 'Enquire', conversation_path(current_user.conversations.find_or_create_by(listing_id: listing.id, participant_id: current_user.id))
    - if listing.creator != current_user
      - if favourite.present?
        %td= link_to 'Remove From Favourites', user_favourite, method: :delete
      - else
        %td= link_to 'Add To Favourites', add_favourite_listing_path(listing), method: :post

