.row.justify-content-left.flex-column-reverse.flex-md-row.listing-container
  .col-12.col-md-12
    .border-none.rounded.h-100
      .row.p-2
        = simple_form_for :search_and_filter, url: search_and_filter_listings_path, method: :post do |f|
          %p Search Bar
          = f.input :search_bar, label: false, required: false, input_html: { value: session[:search_string] }

          -# %p Select Tags
          -# = f.input :filter_tags, label: false, as: :select, collection: Tag.pluck(:name), input_html: { class: 'select2', multiple: true }, required: false

          %br

          %p Filter Menu
          = f.input :filter_category, label: 'Categories', collection: ListingCategory.all, required: false, include_blank: true, selected: session[:search_category]
          .row
            .col-6
              = f.input :filter_minprice, label: 'Min Price', as: :decimal, required: false, input_html: { value: session[:search_minprice] }

            .col-6
              = f.input :filter_maxprice, label: 'Max Price', as: :decimal, required: false, input_html: { value: session[:search_maxprice] }

          = f.input :filter_condition, label: 'Condition', collection: ListingCondition.all, required: false, include_blank: true, selected: session[:search_condition]

          = f.input :filter_swap, label: 'Swap-Only', as: :boolean, required: false, input_html: { checked: session[:search_swap] }

          = f.input :filter_delivery, label: 'Delivery', as: :check_boxes, collection: Delivery.all, required: false, input_html: { multiple: true, checked: true }

          = f.submit 'Confirm', class: 'btn btn-default', name: 'search_button'
          = f.submit 'Clear', class: 'btn btn-default', name: 'search_button'