.panel.panel-default
  .panel-heading
    %h3.panel-title Listings
  .panel-body
    - if @listings.size == 0
      %p No listings were found
    - else
      %p There are #{@listings.size} listings available.
    

  .row.m-0
    .col-3
      = simple_form_for :search, url: search_listings_path, method: :post do |f|
        = f.input :search_title

        = f.submit 'Search', class: 'btn btn-default', id: 'search-button'
        = link_to 'Reset', listings_path
      
      = link_to "Sort By Title", sort: "title"
      \|
      = link_to "Sort By Price", sort: "price"
      %br

      -#%table.table
        -#%thead
          -#%tr
            -#%th= link_to "Title", sort: "title"
            -#%th Description
            -#%th= link_to "Price", sort: "price"
            -#%th Creator
            -#%th Receiver
            -#%th Category
            -#%th Condition
            -#%th Status
            

        -#%tbody#listings-table
      
      = render partial: 'filter_menu'
    
    .col-8.offset-1
      #listings
        = render partial: 'listing', collection: @listings
