.panel.panel-default
  .panel-heading
    %h3.panel-title Listings

  .row.m-0.pt-4
    .col-12.col-lg-3
      = link_to "Sort By Title", '/listings?sort=title', sort: "title"
      \|
      = link_to "Sort By Price", '/listings?sort=price', sort: "price"
      \|
      = link_to "Sort By Date Updated", '/listings?sort=updated_at', sort: "updated_at"
      
      = render partial: 'search_and_filter_menu'
    
    .col-12.col-lg-8.offset-lg-1
      #listings.h-100
        - if @listings.size == 0
          .row.flex-column.justify-content-center.align-items-center.text-center.h-100
            %h1
              We couldn't find any listings
            %h3
              You can create one of your own though!
            = link_to new_listing_path do
              %button.btn.btn-outline-primary.text-medium{type: "primary"}
                Make New Listing
        = render partial: 'listing', collection: @listings
