.panel.panel-default
  .panel-heading
    %h3.panel-title Listings
  .panel-body
    %p There are #{@listings.size} listings available.

  = simple_form_for :search, url: search_listings_path, method: :post do |f|
    = f.input :search_title

    = f.submit 'Search', class: 'btn btn-default', id: 'search-button'
    = link_to 'Reset', listings_path
  
  %br

  %table.table
    %thead
      %tr
        %th= link_to "Title", sort: "title"
        %th Description
        %th= link_to "Price", sort: "price"
        %th Creator
        %th Receiver
        %th Category
        %th Condition
        %th Status

    %tbody#listings-table
      = render 'listing'
  .panel-footer
    = link_to 'New Listing', new_listing_path, class: 'btn btn-default'
