.panel.panel-default
  
  = simple_form_for :search_and_filter, url: search_and_filter_listings_path, method: :post do |f|
    .row.mx-md-5.px-3
      .col-sm-3.col-xs-4.p-0.text-right.d-none.d-sm-block
        = f.input :filter_category, label: false, collection: ListingCategory.all, required: false, include_blank: 'All', selected: session[:search_category], input_html: { class: 'bg-light'}
      .col-sm-6.col-xs-4.p-0
        = f.input :search_bar, label: false, required: false, placeholder: 'Search...', input_html: { value: session[:search_string] }
      .col-sm-3.col-xs-4.p-0
        = f.submit 'Search', class: 'btn btn-secondary w-100', name: 'search_button'
  
  .pt-4.pb-2.text-medium
    Sort By
  .row.m-0
    .col-12.col-lg-3
      = link_to "Title", '/listings?sort=title', sort: "title", class: 'text-dark'
      \|
      = link_to "Price", '/listings?sort=price', sort: "price", class: 'text-dark'
      \|
      = link_to "Date Created", '/listings?sort=created_at', sort: "created_at", class: 'text-dark'
      
      .pt-3
        = render partial: 'search_and_filter_menu'
    
    .col-12.col-lg-8.offset-lg-1
      #listings.h-100
        - if @listings.size == 0
          .row.flex-column.justify-content-center.align-items-center.text-center.h-100
            %h1
              We couldn't find any listings
            %h3
              You can create one of your own though!
            = link_to new_listing_path do
              %button.btn.btn-outline-primary.text-medium{type: "primary"}
                Make New Listing
        = render partial: 'listing', collection: @listings
