.row
  .col-3
    .row.conversation-listing-image.text-center
      =icon('far', 'image')  
  
  .col-9
    .row.text-medium.text-black.text-left
      = @listing.title 
    
    .row.text-small.text-black.text-left
      = @listing.description

    .row.text-small.text-black.text-left
      = @listing.creator.username

    .row.text-medium.text-black.text-left
      £
      = @listing.price 

= link_to 'Back', :back