#conversation-id{"data-conversation-id" => "#{@conversation.try(:id)}"}

.card
  .card-header
    = render 'conversations/conversation_listing'
  .card-body
    .conversation
      #messages
        - @conversation.conversation_messages.where(is_deleted: nil).each do |message|
          = render 'conversation_messages/conversation_message', message: message
  .card-footer
    #send-form 
      = render 'conversation_messages/send_form', conversation_message: ConversationMessage.new, conversation: @conversation
    - if @conversation.conversation_messages.empty?
      = link_to 'Back', delete_conversation_listing_path(@conversation.listing), method: :post
    - else
      = link_to 'Back', :back