- user_listings = Listing.where(creator: current_user)

= simple_form_for :swap_message, url: swap_conversation_listing_path do |f|
    .modal-dialog
    .modal-content.p-4
        .text-large.text-center Swap
        .text-medium.text-center.p-2 Propose a swap for '#{@listing.title}' with user #{@listing.creator.username}

        %hr

        = f.input :message, as: :string, required: false, input_html: { value: 'Hey, would you be interested in swapping for my item?'}
        = f.input :item, collection: user_listings, label: 'Swap for'
        .form-actions.d-flex.align-items-center.justify-content-center
            = f.button :submit, 'Send', class: 'btn-secondary btn-lg w-25'

    .modal-footer
        .pull-left
        = dismiss_modal_button