= link_to conversation, class: 'conversation-link' do
  %div{class: "list-group-item conversation-card #{(@conversation == conversation) ? 'active-conversation' : ''}"}
    .row
      .col-12.col-lg-4.px-0
        .preview-image
          - if conversation.listing.images&.attached?
            = image_tag(rails_blob_url(conversation.listing.images.first))
          - else
            = icon('fas', 'tags', class: 'text-large')
      .col-12.col-lg-8.px-2
        .text-black.text-medium.text-left.text-bold.text-truncate
          = conversation.listing.title
        .text-medium.text-black
          = conversation.listing.creator.givenname
        .text-small.text-darkgray
          = conversation.last_message.content
        .time-label.text-small.text-right.font-italic.text-darkgray
          = time_ago_in_words conversation.last_message.updated_at