= link_to conversation, class: 'conversation-link' do
  %div{class: "list-group-item conversation-card #{(@conversation == conversation) ? 'active-conversation' : ''}", d: "conversation-preview-#{conversation.listing.id}"}
    .row
      .col-12.col-lg-4.px-0.d-flex.align-items-center.justify-content-center
        .preview-image.preview-image-md
          - if conversation.listing.images&.attached?
            = image_tag(rails_blob_url(conversation.listing.images.first))
          - else
            = icon('fas', 'tags', class: 'text-large')
      .col-12.col-lg-8.px-2
        .text-black.text-medium.text-left.text-bold.text-truncate
          = conversation.listing.title
        .text-medium.text-black.text-truncate
          - if current_user == conversation.listing.creator
            = conversation.participant.givenname
          - else
            = conversation.listing.creator.givenname
        - if conversation.last_message
          .message-content.text-small.text-darkgray.text-truncate
            = conversation.last_message.content
          .date.time-label.text-small.text-right.font-italic.text-darkgray
            = time_ago_in_words conversation.last_message.updated_at
            ago