= link_to conversation, class: 'conversation-link' do
  - active_class = (@conversation == conversation) ? 'active-conversation' : ''
  %div{class: "list-group-item conversation-card #{active_class}"}
    .row
      .col-4
        .row.text-center.text-black.conversation-card-image
          =icon('far', 'image')  
      .col-8
        .row.text-black
          %h5= conversation.listing.title
        .row.text-medium.text-black
          = conversation.listing.creator.givenname
        - if not conversation.conversation_messages.where(is_deleted: nil).empty?
          .row.text-small.text-darkgray
            = conversation.conversation_messages.last.content
          .time-label.text-right.font-italic.text-darkgray
            = conversation.conversation_messages.last.updated_at.to_s(:time)
          .time-label.text-left.text-darkgray
            - if sent
              My enquiry
            - else
              Received enquiry