%h5= title
%table.table 
  %thead
    %tr
      %th Conversation ID
      %th Name
      %th Listing

    %tbody
      - conversations.each do |convo|
        %tr
          %td= convo.id
          %td= convo.participant.givenname
          %td= convo.listing.title
          %td= link_to 'Reply', convo