- listing = @conversation.listing
.row
  .col-12.col-lg-3
    .row.text-huge.text-black.text-center
      = icon('far', 'image', class: 'conversation-listing-image ')
  
  .col-lg-9
    .row.text-medium.text-black.text-left
      = listing.title 

    .row.text-small.text-black.text-left.pb-3
      = listing.creator.username

    .row.text-medium.text-black.text-left.pb-1
      £
      = listing.price 
    .row   
      .col-12.col-lg-6.text-small.text-center.text-darkgray.rounded.mt-2
        - if listing.creator == current_user
          = link_to complete_listing_path(listing, @conversation.participant_id), method: :complete, class: 'conversation-link btn btn-outline-dark btn-block' do
            Complete Listing
        - else
          = link_to listing , class: 'conversation-link btn btn-outline-dark btn-block' do
            See Details
      .col-12.col-lg-6.text-small.text-center.text-darkgray.rounded.mt-2
        = link_to listing , class: 'conversation-link btn btn-outline-dark btn-block' do
          = icon('far', 'flag')
          Report
          

