#conversation-id{"data-conversation-id" => "#{@conversation.try(:id)}"}

.container-fluid
  .row
    .col-3
      .conversation-header
        %h4 Conversations
      .list-group.list-group-flush.conversations-sidebar
        = render @conversations
    .col-9.conversation-box.p-0  
      - if @conversation.present?
        .listing-preview
          = render 'conversation_listing'
        #messages-container.pt-2
          #messages
            - @conversation.conversation_messages.where(is_deleted: false).each do |message|
              = render 'conversation_messages/conversation_message', message: message
          = simple_form_for(ConversationMessage.new, url: send_conversation_conversation_message_path(@conversation.id), remote: true) do |f|
            -# Hidden field to associate the message with it's conversation
            = f.hidden_field :conversation_id, :value => @conversation.id
            -# This is a bit hacky to get around making our own simple_form wrapper but
               much easier than doing that just for this one instance of it.
            .input-group
              %input.form-control#send-message-input{name: "conversation_message[content]", placeholder: "Send a message...", autocomplete: "off"}
              .input-group-append
                %button.btn.btn-outline-primary{type: "submit"}
                  = icon('far', 'paper-plane')
      - else 
        .empty-conversation-container.card.h-100
          .text-center.text-medium.text-darkgray.m-auto
            You Do Not Have Any Active Conversations