.panel.panel-default
  .panel-heading
    %h3.panel-title Listing conversations
  .panel-body

  %table.table
    %thead
      %tr
        %th Conversation ID
        %th Name
        %th Listing

    %tbody
      - @conversations.each do |convo|
        %tr
          %td= convo.id
          %td= convo.participant.givenname
          %td= convo.listing.title
          %td= link_to 'Reply', listing_conversation_path(convo.listing.id, current_user.conversations.find_by(listing_id: convo.listing.id, participant_id: convo.listing.receiver.id))

  .panel-footer
    = link_to 'Go Back', mylistings_listing_path, class: 'btn btn-default'