#conversation-id{"data-conversation-id" => "#{@conversation.try(:id)}"}

.panel.panel-default
  .panel-heading
    %h3.panel-title 
      User: 
      = current_user.username
  .panel-body
    .conversation
      #messages
        - @messages.each do |message|
          = render 'conversation_messages/conversation_message', message: message, current_user: current_user
      = render 'conversation_messages/send_form', conversation_message: ConversationMessage.new, conversation: @conversation
  .panel-footer
    = link_to 'Back', :back