#conversation-id{"data-conversation-id" => "#{@conversation.try(:id)}"}

.panel.panel-default
  .panel-heading
    %h3.panel-title 
      User: 
      = current_user.username
  .panel-body
    .conversation
      #messages
        - @conversation.conversation_messages.each do |message|
          = render 'conversation_messages/conversation_message', message: message, current_user: current_user
      = render 'conversation_messages/form', conversation_message: ConversationMessage.new, conversation: @conversation
  .panel-footer

    = link_to 'Back', :back
    |
    = link_to 'Delete Conversation', listing_conversation_path, method: :delete, data: { confirm: 'Are you sure?' }