%tr.w-100
  %td.text-center.w-auto 
    .question-box
      = question.content[0]
  %td.text-center.w-auto
    .question-box
      = question.content[1]
  %td.text-center.w-auto
    = simple_form_for :question, url: remove_question_path, remote: true, html: { class: 'remove' }  do |f|
      = f.error_notification
      .form-inputs
        = f.input :id, as: :hidden, input_html: { value: question.id }
      .form-actions
        = f.submit 'Remove', class: 'btn btn-sm btn-outline-primary'