%tr
  %td.text-center #{page_content.content.split(";;;")[0]}
  %td.text-center #{page_content.content.split(";;;")[1]}
  %td.text-center 
    = simple_form_for :question, url: remove_question_path do |f|
      = f.error_notification
      .form-inputs
        = f.input :content, as: :hidden, input_html: { value: page_content.content }
      .form-actions
        = f.submit 'Remove', class: 'btn btn-sm btn-outline-primary'