.row.justify-content-left.flex-column-reverse.flex-md-row
  .col-12.col-md-12
    .border-none.rounded.h-100
      .row.p-2
        .col-12.col-sm-1.pl-0.text-left.listing-image-container.text-black.text-large.pt-3
          =icon('fas', 'image')

        .col-12.col-sm-3.pl-0.text-left.listing-description-container.pl-1
          .pt-3
            %pre{:class => 'text-darkgray text-medium font-main'}
              = listing.title 
               
          .text-small.text-darkgray.border-right-black.text-medium
            = icon('fas', 'user-circle')
            = listing.creator.username

        .col-12.col-sm-5.pl-3.text-left.listing-price-container  
          .text-small.text-darkgray.pt-3
            Reason:  
          .pl-2.pt-3
            - if banned_words.present?
              - listing_content = (listing.title + listing.description + listing.location)
              - if banned_words.content.any? { |word| listing_content.downcase.include? word }
                %pre{:class => 'text-darkgray text-small font-main pb-3'}Contains banned word/s 
              - else 
                %pre{:class => 'text-darkgray text-small font-main pb-3'}Check for inappropriate image/s
            - else 
              %pre{:class => 'text-darkgray text-small font-main pb-3'}Check for inappropriate image/s

        .col-12.col-sm-3.pl-5.pt-2
          .text-small.text-center.text-white.listing-red.rounded.btn-primary 
            = link_to 'Delete', listing, method: :delete, class: 'white-button listing-button', data: { confirm: 'Are you sure?' }
          %P  
          .text-small.text-center.text-blue.listing-blue.rounded 
            = link_to listing, class: 'button-blue listing-button' do
              See Details