%tr.w-100
  %td.text-center.p-3.w-auto
    = admin.username
  %td.text-center.p-3.w-auto
    = admin.givenname + " " + admin.sn
  %td.text-center.p-0.w-auto
    = simple_form_for :admin, url: demote_user_path, remote: true, html: { class: 'remove w-100' }  do |f|
      = f.error_notification
      .form-inputs
        = f.input :id, as: :hidden, input_html: { value: admin.id }
      .form-actions.pb-3
        = f.submit 'Remove', class: 'btn btn-sm btn-outline-primary'