%h3
  %strong Website Statistics

.my-4
  %h4
    Filter By Date
  = form_tag statistics_path, method: 'GET' do
    .row.align-items-end
      .col-3
        %label{for: 'start-date'}
          Start Date
        %input#start-date.form-control{type: 'date', name: 'startdate', value: @filter_start_date}
      .col-3
        %label{for: 'end-date'}
          End Date
        %input#end-date.form-control{type: 'date', name: 'enddate', value: @filter_end_date}
      .col-3
        %label{for: 'group-by'}
          Group By
        %select#group-by.select2-basic.w-100{name: 'groupby'}
          = options_for_select @filter_group_by_options, @filter_group_by
      .col-3.d-flex.justify-content-end
        = submit_tag 'Filter', class: "btn btn-primary", name: nil

#graphs
  .my-3
    = line_chart @listing_view_data, xtitle: 'Date', ytitle: 'Listings Viewed'
  .my-3
    = line_chart @listing_create_data, xtitle: 'Date', ytitle: 'Listings Created'
  .my-3
    = line_chart @listing_complete_data, xtitle: 'Date', ytitle: 'Listings Completed'
