%h3
  %strong Website Statistics

.my-4
  %h4
    Filter By Date
  = form_tag statistics_path, method: 'GET' do
    .row.align-items-end
      .col-3
        %label{for: 'start-date'}
          Start Date
        %input#start-date.form-control{type: 'date', name: 'startdate', value: @filter_start_date}
      .col-3
        %label{for: 'end-date'}
          End Date
        %input#end-date.form-control{type: 'date', name: 'enddate', value: @filter_end_date}
      .col-3
        %label{for: 'group-by'}
          Group By
        %select#group-by.select2-basic.w-100{name: 'groupby'}
          = options_for_select @filter_group_by_options, @filter_group_by
      .col-3
        = submit_tag 'Filter', class: "btn btn-primary", name: nil


= line_chart @listing_view_data


.row.rows-cols-2.justify-content-center.flex-column-reverse.flex-md-row
  .col.text-left.border-right.border-dark
    .row.justify-content-left.flex-column-reverse.flex-md-row
    %br
      %h5
        %strong Site Traffic
    .row.rows-cols-4.justify-content-center.flex-column-reverse.flex-md-row.border-bottom.pb-4.mr-2
      .col.text-center.border-right
        %p.stat-text Weekly
        %p.stat-value.text-medium 500
      .col.text-center.border-right
        %p.stat-text Monthly
        %p.stat-value.text-medium 2,500
      .col.text-center
        %p.stat-text All time
        %p.stat-value.text-medium 10,000
      .col.text-center
        = icon 'fas', 'user-circle', style: 'color: #00c8f8; font-size: 75px;'
    .row.justify-content-left.flex-column-reverse.flex-md-row
    %br
      %h5
        %strong Items sold
    .row.rows-cols-4.justify-content-center.flex-column-reverse.flex-md-row.border-bottom.pb-4.mr-2
      .col.text-center.border-right
        %p.stat-text Weekly
        %p.stat-value.text-medium 500
      .col.text-center.border-right
        %p.stat-text Monthly
        %p.stat-value.text-medium 2,500
      .col.text-center
        %p.stat-text All time
        %p.stat-value.text-medium 10,000
      .col.text-center
        = icon 'fas', 'shopping-cart', style: 'color: #92d36e; font-size: 75px;'
    .row.justify-content-left.flex-column-reverse.flex-md-row
    %br
      %h5
        %strong Items swapped
    .row.rows-cols-4.justify-content-center.flex-column-reverse.flex-md-row.border-bottom.pb-4.mr-2
      .col.text-center.border-right
        %p.stat-text Weekly
        %p.stat-value.text-medium 500
      .col.text-center.border-right
        %p.stat-text Monthly
        %p.stat-value.text-medium 2,500
      .col.text-center
        %p.stat-text All time
        %p.stat-value.text-medium 10,000
      .col.text-center
        = icon 'fas', 'sync', style: 'color: #ff6e69; font-size: 75px;'
    .row.justify-content-left.flex-column-reverse.flex-md-row
    %br
      %h5
        %strong Overall item value sold
    .row.rows-cols-4.justify-content-center.flex-column-reverse.flex-md-row.pb-4.mr-2
      .col.text-center.border-right
        %p.stat-text Weekly
        %p.stat-value.text-medium 500
      .col.text-center.border-right
        %p.stat-text Monthly
        %p.stat-value.text-medium 2,500
      .col.text-center
        %p.stat-text All time
        %p.stat-value.text-medium 10,000
      .col.text-center
        = icon 'fas', 'cash-register', style: 'color: #ffa834; font-size: 75px;'
  .col.text-left
    .row.justify-content-left.flex-column-reverse.flex-md-row
    %br
      %h5
        %strong Top Categories
    .row.justify-content-left.flex-column-reverse.flex-md-row.ml-2
      %table.table.table-striped.table-sm
        %thead.thead-light.w-100
          %tr
            %th.w-auto.text-center{scope: "col"} Category
            %th.w-auto.text-center{scope: "col"} Weekly
            %th.w-auto.text-center{scope: "col"} Monthly
            %th.w-auto.text-center{scope: "col"} All time
        %tbody
          - 2.times do
            = render 'stat_row', category: 'Books', weekly: 18, monthly: 67, all_time: 233
            = render 'stat_row', category: 'Sports Equipment', weekly: 18, monthly: 67, all_time: 233
            = render 'stat_row', category: 'Electronics', weekly: 18, monthly: 67, all_time: 233
