%div{class: "message #{'me' if message.sender.id == current_user.id}", id: "message-#{message.id}"}
  .content-container
    .content
      = message.content
      - if message.swap_listing_id.present?
        - swap_listing = Listing.find(message.swap_listing_id)
        .row.justify-content-center
          %p= link_to "See My Item", swap_listing, class: "btn btn-primary mt-2"

    - if message.sender.id == current_user.id
      .delete-form
        = render 'conversation_messages/delete_form', message: message
        
