- if message.sender != current_user and can? :create, Report.new(conversation_message: message)
  = link_to report_conversation_conversation_message_path(message.conversation, message), class: 'ajax-modal' do
    .text-extra-small
      = icon('far', 'flag')
%div{class: "message #{'me' if message.sender.id == current_user.id}", id: "message-#{message.id}"}
  .content-container
    .content
      = message.content
      - if message.swap_listing_id.present?
        - swap_listing = Listing.find(message.swap_listing_id)
        .row.justify-content-center
          %p= link_to "See '" + swap_listing.title + "' ", swap_listing, class: "btn btn-outline-light mt-2"
    - if message.sender.id == current_user.id
      .delete-form
        = render 'conversation_messages/delete_form', message: message