-# frozen_string_literal: true
= simple_form_for(conversation_message, url: listing_conversation_message_path, remote: true) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :content, label: false
    = f.hidden_field :conversation_id, :value => conversation.id

  .form-actions
    = f.button :submit, "Send Message"