-# frozen_string_literal: true
= simple_form_for(conversation_message, url: send_conversation_conversation_message_path(conversation.id), remote: true) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :content, label: false, placeholder: "Type a message..."
    = f.hidden_field :conversation_id, :value => conversation.id

  .form-actions
    = f.button :submit, "Send Message"