= simple_form_for(:settings, url: settings_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :message, label: 'When I receive a message', class: 'hello', as: :select
    = f.input :category, label: 'When an item from this category is posted', as: :select

  %P{:class => 'w-100'}= select_tag(:when,options_for_select([["All", 1],["Custom", 2]]))
    
  .form-actions.text-center
    = f.button :button, class: 'btn-huge listing-red text-red pl-5 pr-5 pt-2 pb-2' do
      Save