= simple_form_for(:settings, url: settings_path) do |f|
  = f.error_notification

  .text-medium.text-black.pl-2
    = f.input :email_message, label: "When I receive a message", as: :boolean, input_html: {checked: @email_message}
    = f.input :email_category, label: "When an item from this category is posted", as: :boolean, input_html: {checked: @email_category}
  %p{:class => 'text-small text-darkgray'} Select categories
  .col-12.col-md-11
    .text-medium.text-black.pb-2.pt-1
      = f.input :categories, label: false, as: :select, collection: ListingCategory.all, selected: @user_categories, required: false, include_blank: false, include_hidden: false, input_html: { class: 'select2-multiple', multiple: true }

  When?
  .col-12.col-md-12.pt-3
    .text-small.pb-4.pl-3.w-100
      = f.input :when, required: false, as: :radio_buttons, collection: [['Immediately', 'immediately'], ['Weekly', 'weekly'], ['Monthly', 'monthly']], legend_tag: false, checked: @when
    
  .form-actions.text-center
    = f.button :button do
      %button.btn.btn-outline-primary.text-medium.mr-5{type: "primary"}
        Save Changes