.row.justify-content-center.flex-column-reverse.flex-md-row
  .col-12.col-md-12
    .text-center.text-huge.text-darkgray
      = icon('fas', 'user-circle')
      %p{:class => 'text-large'} #{current_user.username}

.row.justify-content-center.flex-column-reverse.flex-md-row
  .col-12.col-md-6.listing-description-container
    .col-12.col-md-12
      .text-medium.text-black 
        %p Notifications
        %P{:class => 'text-small text-darkgray'} Choose when to get email notifications..    
      .text.medium
        = render 'form'

  .col-12.col-md-6.pl-5
    .text-medium.text-darkgray
      %p{:class => 'text-black'} Have a problem?
      %p{:class => 'text-small'} Please check our FAQs, or get in touch!

    .col-12.md-12.pt-5.pl-5
      .text-medium.btn-huge.text-red.listing-red.text-center.rounded.p-4
        = link_to contact_path, class: 'text-red btn-huge'  do
          %strong Contact Page

    .col-12.md-12.pt-5.pl-5
      .text-medium.btn-huge.text-red.listing-red.text-center.rounded.p-4
        = link_to faq_path, class: 'text-red btn-huge'  do
          %strong FAQs
      