%ul#admin-nav.nav.nav-tabs.nav-justified.text-medium
  %li.nav-item
    = link_to statistics_path, class: "nav-link #{'active' if path_contains? 'statistics'}" do
      = icon 'fas', 'chart-bar', 'Statistics'
  %li.nav-item
    = link_to moderation_path, class: "nav-link #{'active' if path_contains? 'moderation'}" do
      = icon 'fas', 'edit', 'Moderation'
  %li.nav-item
    = link_to reports_path, class: "nav-link #{'active' if path_contains? 'report'}" do
      = icon 'fas', 'exclamation-triangle', 'Reports'
  %li.nav-item
    = link_to user_view_path, class: "nav-link #{'active' if path_contains? 'user'}" do
      = icon 'fas', 'users', 'Users'
  %li.nav-item
    = link_to other_path, class: "nav-link #{'active' if path_contains? 'other'}" do
      = icon 'fas', 'align-justify', 'Other'
  
  