%footer#footer.bg-darkgray.text-white.px-4
  .row.pt-4.m-0
    .col-12.col-md-4.py-3.py-md-0.text-small
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
      Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique,
      tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
      Aenean velit odio, elementum in tempus ut, vehicula eu di

    .col-12.col-md-4.py-3.py-md-0.bordery-gray.borderx-md-gray.text-center
      .text-medium
        Have A Question? Contact Us!
      .text-small.pt-3
        One of our admin team will be happy to help!

      = link_to(contact_path, class: 'btn btn-light btn-lg my-3') do
        Talk to us!

    .col-12.col-md-4.py-3.py-md-0.text-center
      %ul
        %li
          = link_to root_path, class: 'white-button'  do
            Home
        %li
          = link_to about_path, class: 'white-button'  do
            About
        %li
          = link_to contact_path, class: 'white-button'  do
            Contact
        %li
          = link_to faq_path, class: 'white-button'  do
            FAQ
        %li
          = link_to terms_path, class: 'white-button'  do
            Terms
        %li 
          = link_to new_user_session_path, class: 'white-button' do
            Login

  .row.py-4.m-0.align-items-center
    .col-12.col-md-8.text-small
      The official marketplace of The University of Sheffield and The University of Sheffield Student Union
      %br
      &copy; #{Date.today.year}
      = link_to 'epiGenesys', 'https://www.epigenesys.org.uk', target: '_blank', title: 'Go to the epiGenesys website'
    .col-12.col-md-4.logo-image-container.justify-content-end.pt-3
      = image_tag "/images/logos/su.png"
      = image_tag "/images/logos/TUOS_PRIMARY_LOGO_REVERSED.png"
