%ul.nav.nav-tabs.nav-justified.text-medium
  %li.nav-item
    = link_to root_path, class: 'nav-link {}' do
      = icon 'fas', 'tag', 'Listings'
  %li.nav-item
    = link_to root_path, class: 'nav-link' do
      = icon 'fas', 'envelope', 'Messages'
  %li.nav-item
    = link_to root_path, class: 'nav-link' do
      = icon 'fas', 'heart', 'Favourites'
  %li.nav-item
    = link_to root_path, class: 'nav-link' do
      = icon 'fas', 'star', 'Reviews'
  %li.nav-item
    = link_to root_path, class: 'nav-link' do
      = icon 'fas', 'cog', 'Settings'