.row.justify-content-left.flex-column-reverse.flex-md-row.reported-item
  .col-12.col-md-12.listing-container
    .border-none.rounded.h-100
      .row.p-0
        .col-12.col-sm-4.pl-0.pt-1
          .preview-image.preview-image-md
            - if report.listing.images&.attached?
              = image_tag(rails_blob_url(report.listing.images.first))
            - else
              = icon('fas', 'tags', class: 'text-large')
        .col-12.col-sm-4.pl-0.pt-1
          .row.justify-content-left.flex-column-rev.flex-md-row
            .col-12.col-md-12.pl-0.text-left.pt-2
              .col-12.col-md-12.pl-0.text-left.report-container.pt-0.mr-3
                %pre{:class => 'text-black text-small font-main'} Item: #{report.listing.title} 
                %pre{:class => 'text-black text-small font-main'} Creator: #{report.listing.creator.username} 

              .col-12.col-md-12.pl-0.text-left.report-container.pt-0.mr-3
                %pre{:class => 'text-darkgray text-small font-main'} Reason: #{report.message}

        .col-12.col-sm-4.p-0.pt-3.mt-3
          = link_to report.listing, class: 'listing-button button-blue' do
            .text-small.text-center.text-blue.listing-blue.rounded
              See Details
          %p
          - if report.listing.present?
            = link_to edit_listing_path(report.listing), class: 'ajax-modal listing-button' do
              .text-small.text-center.btn-primary.rounded.text-white
                Moderate 