.modal-dialog.modal-lg
  .modal-content.p-4
    .modal-header.d-flex.align-items-center.justify-content-center
      .text-large.text-center.modal-title
        = icon 'fas', 'pencil-alt', "Moderate Report"
    .modal-body
      .text-medium.text-center.mb-3
        - if @report.listing.present?
          %strong Ban #{@report.listing.creator.username} from the site
        - else 
          %strong Ban #{@report.conversation_message.sender.username} from the site
      = simple_form_for :user, url: ban_user_path, method: :post, remote: true do |f|
        .form-inputs
          - if @report.listing.present?
            = f.input :id, as: :hidden, input_html: { value: @report.listing.creator.id }
          - else
            = f.input :id, as: :hidden, input_html: { value: @report.conversation_message.sender.id }
          = f.input :ban_reason, as: :text
        .form-actions.d-flex.align-items-center.justify-content-center
          = f.submit 'Submit', class: 'btn btn-secondary'
      %hr
      .text-medium.text-center.mb-3
        %strong Other options
      = simple_form_for :report_options, url: moderate_update_report_path, method: :post, remote: true do |f|
        .form-inputs
          - if @report.listing.present?
            = f.input :delete_item, as: :boolean, input_html: {checked: @report.listing.listing_status.name == 'Deleted'}
          - else 
            = f.input :delete_item, as: :boolean, input_html: {checked: @report.conversation_message.is_deleted}
          = f.input :delete_report, as: :boolean
          = f.input :outcome, as: :text, input_html: {value: @report.outcome}
        .form-actions.d-flex.align-items-center.justify-content-center
          = f.submit 'Submit', class: 'btn btn-secondary'
    .modal-footer.d-flex.align-items-center.justify-content-center
      = dismiss_modal_button